body {
  background: #89849c;
}
.container {
  height: 300px;
  width: 500px;
  margin: 60px auto;
  border-radius: 10px;
}
.head-card {
  background-image: url(https://images.squarespace-cdn.com/content/v1/56c0ae80ab48de4417bd17fa/1456686084465-WRWE4AJNPM6W2AVY8RCG/image-asset.jpeg);
  object-fit: scale-down;
  height: 100px;

}
.img-container {
  border-radius: 50%;
  background: #fff;
  height: 160px;
  width: 160px;
  transform: translate(100px , 100px);

}
.img-container img {
  width: 150px;
  height: 150px;
  /**border: 10px solid #fff;
  margin: 50px auto;**/
  border-radius: 50%;
  
}